/* 基础样式reset */

body{
    text-align: center;
}

input {
    box-sizing: border-box;
    outline: 0;
}
ul {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}

/* 组件整体容器 */
.cw-input-select_wrap {
    left:30%;
    position: absolute;
    width: 600px;
    height: 28px;
    font-size: 14px;
}

/* 组件内容 */
.cw-input-select {
    width: 600px;
    position: center;
}

/* 基本下拉框 */
.cw-input-select_box {
    height: 28px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

/* 基本下拉框里面右边的线体上下箭头（可旋转） */
.cw-arrow {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 8px;
    border-top: 1px solid #C0C4CC;
    border-right: 1px solid #C0C4CC;
    border-radius: 1px;
    width: 8px;
    height: 8px;
    background: transparent;
    transition: transform .3s, -webkit-transform .3s;
    transform: rotate(135deg);
    z-index: 10;
}

/* 基本下拉框 文字 */
.cw-input-select_box > span {
    display: inline-block;
    line-height: 28px;
    padding: 0 30px 0 15px;
    font-size: 12px;
    color: #606266;
    /* 文字超出用省略号 */
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

/* 选项列表盒子 */
.cw-input-select_pop {
    position: relative;
    background-color: white;
    border: 1px solid #E4E7ED;
    border-radius: 4px;
    max-height: 274px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    margin-top: 12px;
    padding: 5px;
    box-sizing: border-box;
    z-index: 9;
}

/* 选项列表盒子上方的三角形箭头 */
.cw-input-select_arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
    top: -6px;
    left: 35px;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: #fff;
    z-index: 99;
}

/* 选项列表盒子里面的输入框 */
.cw-input-select .cw-input-select_pop .cw-input-select_ipt {
    position: relative;
    top: 5px;
    z-index: 99;
    height: 24px;
    line-height: 20px;
    width: 94%;
    border: 1px solid #DCDFE6;
    padding: 1px 5px;
    font-size: 12px;
}

/* 选项列表内容 */
.cw-input-select_options {
    display: block;
    margin-top: 26px;
    max-height: 234px;
}

/* 选项单元 */
.cw-input-select_options li {
    padding: 8px 15px;
    background-color: white;
    cursor: pointer;
}

/* 选项单元hover */
.cw-input-select_options li:hover {
    background-color: #F5F7FA;
}

/* 箭头向上 */
.cw-arrow.up {
    transform: rotate(-45deg);
    top: 12px;
}